<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>741344276512-rq23qtlm57kipq181t0qp3n83nspdj5i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741344276512-rq23qtlm57kipq181t0qp3n83nspdj5i</string>
	<key>API_KEY</key>
	<string>AIzaSyCkyMBOxTHzf5jL29BwtG8Q4P4S3_wFAUg</string>
	<key>GCM_SENDER_ID</key>
	<string>741344276512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.healer.CINEMA-iOS</string>
	<key>PROJECT_ID</key>
	<string>cinema-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>cinema-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:741344276512:ios:6bd143594a486131</string>
	<key>DATABASE_URL</key>
	<string>https://cinema-ios.firebaseio.com</string>
</dict>
</plist>